@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body{
  font-family: 'Open Sans', sans-serif !important;
}
.img-cover {
    height: 100vh;
    background: url("https://source.unsplash.com/random") no-repeat center / cover;
    padding: 0;
    margin: 0;
}
.form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
  
.big-title {
    text-align: center;
    font-size: 32px;
    line-height: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}
  
.form-control {
    height: 60px;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}
.label-input {
    line-height: 60px;
    padding: 10px;
}
.label-text{
  color: #2d2d2d;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 0;
}
.app{
  padding: 0;
  margin: 0;
  width: 100%;
}
.row{
  margin: 0;
}
.error{
  font-size: 15px;
  padding: 10px;
  margin: 0;
  border-radius: 8px;
  border: burlywood 1px solid;
}
.forny-inner {
  display: grid;
  height: 100vh;
  width: 100%;
  align-items: center;
}
.mail{
  padding: 0;
  margin: 0;
}
.mail h1{
  font-size: 40px;
  font-weight: 700;
  padding: 20px;
}
.mail p{
  padding: 10px;
}